.correct {
    color: green;
}

.wrong {
    color: red;
}

.ui .item .category {
    display: inline-block !important;
    height: 20px;
    width: auto;
    padding-right: 20px;
}

.ui.label>img {
    margin-right: 10px;
}

.ui .menu-center {
    margin: 0 auto
}
